	<ion-view view-title=" Coluna VH" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		
<div class="padding scroll">

    <div class="padding about_us-box">
        <h2>Coluna VH</h2>
        <div>
            Sobre a Coluna VH&nbsp;
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about_us-box">
     
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mailto://contato@sandropeixoto.com.br')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: contato@sandropeixoto.com.br
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
