	<ion-view view-title=" Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-slide_tab_menu" class=" page-slide_tab_menu">
		
	<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Coluna VH" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/coluna_vh/categories" >
								<i class="icon ion-social-buffer" ></i>
								<h2>{{ "Categorias" | translate }}</h2>
								<span class="item-note pull-left">List of categories</span>
							</a>
							<a class="item item-icon-left" ng-href="#/coluna_vh/posts/-1" >
								<i class="icon ion-clipboard" ></i>
								<h2>{{ "Postagens" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/coluna_vh/users" >
								<i class="icon ion-ios-people" ></i>
								<h2>{{ "Nosso time" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/coluna_vh/post_bookmark" >
								<i class="icon ion-android-favorite" ></i>
								<h2>{{ "Favoritos" | translate }}</h2>
								<span class="item-note pull-left">Bookmarks</span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="Ajuda" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-click="openURL('market://details?id=com.imabuilder.nanonetwork.colunavh')" >
								<i class="icon ion-android-playstore" ></i>
								<h2>{{ "Avalie este App" | translate }}</h2>
								<span class="item-note pull-left">Taking a moment to rate this app?</span>
							</a>
							<a class="item item-icon-left" ng-href="#/coluna_vh/faqs" >
								<i class="icon ion-ios-help" ></i>
								<h2>{{ "FAQs" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/coluna_vh/about_us" >
								<i class="icon ion-help-buoy" ></i>
								<h2>{{ "Sobre" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
